@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100;1,200&display=swap");

.App {
  font-family: "Montserrat";
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1498522271744-cdd435c13f24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=754&q=80");
}
#food-details span {
  display: block;
  padding: "0.5rem";
}
